<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<style>
    
</style>

<body>
  <h1>입찰자명단</h1>
  <table>
    <thead>
        <tr>
            <th>친구</th>
            <th>금액</th>
          </tr>
    </thead>
    <tbody>
      <%for(var i=0;i<data.length; i++) { %>
      <tr>
        <td><%=data[i].user_id%></td>
        <td><%=data[i].bidCoin%></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>