<!DOCTYPE html>
<html>
<head>
   <title>회원가입</title>
</head>

<body>
      <form action="/join" method="POST">
      <h1>회원가입</h1>
      <hr/>
      <br>
      <label>아이디</label>   
      <input type="text" id="id" name="id">
      <br>
      <label>비밀번호</label>
      <input type="password" id="pw" name="pw">
      <br>
      <label>이름</label>
      <input type="text" id="name" name="name">
      <br>
      <label>주소</label>
      <input type="text" id="address" name="address">
      <br>
      <label>부모님 휴대폰번호</label>
      <input type="tel" id="tel" name="tel">
      <br>
      <label>부모님 비밀번호</label>
      <input type="text" id="parentsPw" name="parentsPw">
      <br>
      <input id="signup_button"  type="submit"  value="회원가입">
        </div>
    </form>
</body>
</html>